# Dataset
datasets==2.19.0

# LangChain y RAG
langchain==0.2.16
langchain-community==0.2.16
langchain-ollama==0.1.3

# Base de datos vectorial
chromadb==0.5.3

# Interfaz
gradio==4.44.1

# Utilidades
tqdm==4.66.4

